body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#typing-indicator{
  display: none;
  background-image: url("/images/ios-typing.gif"); 
}

.panel{
  margin-bottom: 0px !important;
}

.panel-body{
  overflow: auto;
}

.msg{
  padding: 3px;
  font-size: 20px;
  margin-bottom: 0px;
}

.msg-from{
  text-align: left;
}

.msg-to{
  text-align: right;
  
}